@font-face {
    font-family: 'Shantell Sans';
    src: url(fonts/Shantell_Sans/ShantellSans-VariableFont_BNCE,INFM,SPAC,wght.ttf);
  }

body {
    font-family: 'Shantell Sans';font-size: 28px;
    background-color:#000c1c;
}

p {
    color:#a914ff;
    text-align: center;
}